<ivato-client-overview-actions></ivato-client-overview-actions>
<mat-card class="pc-view-container">
  <mat-card-content>
    <table mat-table class="pc-table mat-elevation-z8"
      [dataSource]="clients | async">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Klienta Nr.</th>
        <td mat-cell *matCellDef="let client"> 
          {{client.userId}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef>Nosaukums</th>
        <td mat-cell *matCellDef="let client"> 
          {{client | clientName}} 
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>