@import '../node_modules/@angular/material/theming';

@include mat-core();

$main-palete: $mat-green;

$pc-primary: mat-palette($main-palete, 200, 100, 300);
$pc-accent:  mat-palette($main-palete, 700, 600, 900);
$pc-warn:    mat-palette($main-palete, A200, A100, A400);

$dark-theme: mat-dark-theme($pc-primary, $pc-accent, $pc-warn);
$light-theme: mat-light-theme($pc-primary, $pc-accent, $pc-warn);

@include angular-material-theme($dark-theme);
@include mat-button-theme($light-theme);