:host {
  width:50vh;
  display: block;
}

.pc-create-client-container {
  margin: 10px;
  padding: 20px;
}

.pc-create-client-form {
  display: flex;
  flex-direction: column;
}

.pc-create-client-form > * {
  width: 100%;
}