<mat-card class="pc-create-client-container">
    <mat-card-title>Jauns klients</mat-card-title>
    <form class="pc-create-client-form" [formGroup]="formGroup" (ngSubmit)="create()">
        <mat-card-content>
            <mat-form-field>
                <mat-slide-toggle formControlName="isLegal"></mat-slide-toggle>
            </mat-form-field>
            <ng-container *ngIf="isLegalClient; then legalClient else physicalClient"></ng-container>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary">Izveidot</button>
            <button mat-raised-button color="warn">Atcelt</button>
        </mat-card-actions>
    </form>
</mat-card>
<ng-template #physicalClient>
    <mat-form-field>
        <input matInput placeholder="Vārds" formControlName="name">
    </mat-form-field>
</ng-template>
<ng-template #legalClient>
    <mat-form-field>
        <input matInput placeholder="Nosaukums" formControlName="name">
    </mat-form-field>
</ng-template>