<div class="column-container">
  <div class="column">
    <div class="column-head">
      To do
    </div>
    <div class="column-body">
      <div class="item">Item to do</div>
    </div>
  </div>
  <div class="column">
    <div class="column-head"> In Progress </div>
    <div class="column-body">
        <div class="item">Item in progress</div>
        <div class="item">Item in progress</div>
    </div>
  </div>
  <div class="column">
    <div class="column-head"> Done </div>
    <div class="column-body">
        <div class="item">Item done</div>
        <div class="item">Item done</div>
        <div class="item">Item done</div>
    </div>
  </div>
</div>