<div class="column-container">
  <div class="column">
    <div class="column-head">
      To do
    </div>
    <div class="column-body">
        <ivato-board-item *ngFor="let item of itemsToDo" [item]="item">
          </ivato-board-item>
    </div>
  </div>
  <div class="column">
    <div class="column-head"> In Progress </div>
    <div class="column-body">
        <ivato-board-item *ngFor="let item of itemsInProgress" [item]="item">
          </ivato-board-item>
    </div>
  </div>
  <div class="column">
    <div class="column-head"> Done </div>
    <div class="column-body">
      <ivato-board-item *ngFor="let item of itemsDone" [item]="item">
      </ivato-board-item>
    </div>
  </div>
</div>