.column-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  padding: 10px;
}

.column {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 50px auto;
  border-width: 1px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.8);
   background-color: rgb(255, 254, 254);
}

.column-head {
  background-color: rgba(146, 146, 146, 0.8);
  padding: 15px;
  margin-bottom: 10px;
}

.column-body {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 100px;
}

.item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  background-color: rgb(212, 212, 212);
  position: relative;
  padding: 5px 10px 10px 5px;
  margin: 0 10px 10px 10px;
}
